.row {
    display: flex;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: space-between;
}
.card {
    margin: 10px;
}
img {
    width: 200px;
}
h4,
p {
    margin: 0;
}
